/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background: rgb(32, 32, 32);
    font-family: Arial;
    color: white;
}

/* Header */
header {
    height: 64px;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 1;
}

header h1 {
    width: 192px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}

header label {
    width: 128px;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Main */
main {
    width: 100%;
    height: 100%;
    display: flex;
}

/* Tools */
.tools {
    width: 320px;
    height: calc(100vh - 64px);
    position: absolute;
    top: 64px;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
}

.container {
    margin: 8px auto;
    width: 256px;
    display: flex;
    flex-direction: column;
}

.container-title {
    margin: 4px auto 4px 0;
}

.input-wrapper {
    margin: 4px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input[name="reset"] {
    margin: 8px auto;
    width: 128px;
    height: 32px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

/* Toggle */
.show {
    display: flex;
}